@model IEnumerable<MedAuditoriosPesquisa.Models.Local>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}


<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filial</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nome do Local</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status Primário</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Status Secundário</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tipo de Cadeira</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data da Interação</a>
                    </li>                               
                                       
                    <div class="dropdown-menu">
                       
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <img src="./img/banner_locais.png" class="img-fluid" alt="">
</div>

<div class="col-3">
    <a class="btn btn-success" style="margin:15px;" a asp-action="Create">Novo Local</a>
</div>


<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.UrlImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCadeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPrimario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSecundario)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.LinkVisita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-secondary">
                <td>
                    <p><img src = "@item.UrlImagem" width="150"></p>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filial.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCadeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrimario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusSecundario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkVisita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detailhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
