@model IEnumerable<MedAuditoriosPesquisa.Models.Local>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>Lista de Locais</h1>

<div class="col-3">
    <a class="btn btn-success" style="margin:15px;" a asp-action="Create">Novo Local</a>
</div>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.UrlImagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCadeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusPrimario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSecundario)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.LinkVisita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-secondary">
                <td>
                    <p><img src = "@item.UrlImagem" width="150"></p>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filial.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCadeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPrimario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusSecundario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkVisita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detailhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
